@model Usuario

<form asp-action="CadastrarUsuario" asp-controller="Usuario" method="post">
    <fieldset>
        <legend>Dados de endereço</legend>
        <div class="form-group">
            <label asp-for="Cep">Cep: </label>
            <input asp-for="Cep" class="form-control" id="cep"/>
        </div>
        <button class="btn btn-success" onclick="buscarCEP()" type="button">Buscar dados</button>
        <div class="form-group">
            <label asp-for="Cep">Dados:</label>
            <textarea asp-for="Cep" class="form-control" readonly id="txtCep" rows="3"></textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Cadastrar usuário</legend>

        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="UserName">Nome de usuário:</label>
            <input class="form-control" type="text" asp-for="UserName" value="" placeholder="Nome de usuário"/>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PassWord">Senha:</label>
            <input class="form-control" type="password"  asp-for="PassWord" placeholder="Senha" value="" />
            <span asp-validation-for="PassWord" class="text-danger"></span>
        </div>

        <input type="submit" name="Cadastrar" class="btn btn-info" value="CadastrarUsuario" />
    </fieldset>
</form>

<script>

    var txtCep = document.getElementById("cep");
    var postcep = txtCep;
    postcep = document.getElementById("txtCep");
    var xhr = new XMLHttpRequest();

    function buscarCEP() {
        xhr.open("GET", `http://cep.la/${txtCep.value}`, true);
            xhr.setRequestHeader("Accept", "application/json");
            xhr.onreadystatechange = function () {
                if ((xhr.readyState == 0 || xhr.readyState == 4) && xhr.status == 200)
                {
                    postcep.value = xhr.responseText;
                    
                }
            }; xhr.send(null);
        
        }
    
</script>