<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Menu" asp-action="Index">Biblioteca Pessoal</a>       
    </nav>

    <div class="conteudo">
        @RenderBody()
    </div>

    <hr />
    <footer class="espacamento-cima espacamento-baixo">
        <span>Criado por: Felipe Augusto e Fabrício Rosa de França - 2020</span>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
    
</body>
</html>
