
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu Principal</title>
</head>
<body>
    <h1>Menu Principal</h1>
    <a asp-action="CadastrarLivro" asp-controller="Livro">Cadastrar Livro</a>
</body>
</html>