
    

    <a asp-action="CadastrarUsuario" asp-controller="Usuario"
       class="btn btn-secondary espacamento-baixo">Cadastrar Usuario</a>

    <a asp-action="LoginUsuario" asp-controller="Usuario"
       class="btn btn-secondary espacamento-baixo">Login</a>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
