@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

    <h3 class="espacamento-baixo">Menu Principal</h3>
    <a asp-action="CadastrarLivro" asp-controller="Livro" 
       class="btn btn-secondary espacamento-baixo">Cadastrar Livro</a>

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
